* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: #fefefe;
    font-family: 'Gotham';
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.container--header {
    max-width: 1440px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex--center {
    justify-content: center;
}

.flex--column {
    flex-direction: column;
}

.flex--wrap {
    flex-wrap: wrap;
}

.flex--start {
    align-items: flex-start;
}

.flex--end {
    align-items: flex-end;
}

.transition {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: 0.3s;
}