:root {
    /* Color Properties */
    --color-white: #ffffff;
    --color-black: #000000;
    --color-green: #21ffb5;
    --color-purple: #A700FF;
    --color-dark-purple: #37124a;
    --color-pink: #ff00fd;
    --color-blue: #0000ff;
    --color-dark: #1d1d1d;
    --color-light: #DBE9F5;
}