@media screen and (max-width: 991px) {
    /* Desktop */
    header .desktop {
        display: none;
    }

    header .desktop__logo {
        display: none;
    }

    header .desktop__logo img {
        display: none;
    }

    header .desktop__button {
        display: none;
    }

    header .desktop__menu {
        display: none;
    }

    /* Mobile */
    header .mobile {
        display: block;
    }

    header .mobile__logo {
        display: block;
    }

    header .mobile__logo img {
        display: block;
        width: 80%;
    }

    header .mobile__menu {
        display: block;
        width: 100%;
    }

    header .mobile__menu ul {
        display: none;
        position: relative;
        list-style-type: none;
        text-align: right;
        width: 100%;
    }

    header .mobile__menu ul li {
        margin: 15px 5px;
        font-family: 'Gotham';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
    }

    header .mobile__menu ul li a {
        text-decoration: none;
        color: #48465D;
    }

    header .mobile__button {
        display: block;
        width: 32px;
        height: 32px;
        background-image: url(../img/mobile__button.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    /* Section 1 :: cta */
    section.cta .cta__box .cta__box__card__text h1 {
        font-size: 34px;
        line-height: 39px;
    }

    section.cta .cta__box .cta__box__form {
        width: 100%;
        margin: 30px 0;
    }

    /* Section 2 :: service */
    section.service .service__box .service__box__card h3 {
        font-size: 34px;
        line-height: 39px;
        right: 0;
        top: 10px;
    }
}
